<?xml version="1.0"?>
<StickmanConfig>
	<!--<Stickman name="Bob">
	   <Behavior>
		  <item>HeadTilt</item>
		  <item>HeadLeft</item>
		  <item>HeadDown</item>
		  <item>CoverMouth</item>
	   </Behavior>
	   <Color>
		  <HairColor>30, 90, 200</HairColor>
		  <HeadColor>30, 90, 200</HeadColor>
		  <UpperBodyColor>30, 90, 200</UpperBodyColor>
		  <DownBodyColor>30, 90, 200</DownBodyColor>
		  <LimbsColor>30, 90, 200</LimbsColor>
		  <ShoesColor>30, 90, 200</ShoesColor>
		  <LipsColor>30, 90, 200</LipsColor>
		  <EyeColor>30, 90, 200</EyeColor>
		  <BrowColor>30, 90, 200</BrowColor>
		  <NoseColor>30, 90, 200</NoseColor>
		</Color>
	</Stickman>
	<Stickman name="Anna">
		<Behavior>
		  <item>HeadTilt</item>
	   </Behavior>
	   <Color>
		  <HairColor>0, 0, 0</HairColor>
		  <HeadColor>0, 0, 0</HeadColor>
		  <UpperBodyColor>0, 0, 0</UpperBodyColor>
		  <DownBodyColor>0, 0, 0</DownBodyColor>
		  <LimbsColor>0, 0, 0</LimbsColor>
		  <ShoesColor>0, 0, 0</ShoesColor>
		  <LipsColor>0, 0, 0</LipsColor>
		  <EyeColor>0, 0, 0</EyeColor>
		  <BrowColor>0, 0, 0</BrowColor>
		  <NoseColor>0, 0, 0</NoseColor>
	   </Color>
	</Stickman>-->
</StickmanConfig>
